@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');

:root {
    margin: 0px;
    padding: 0px;
    background-color: #383838;
    color: white;
    --prim-font: 'Montserrat', sans-serif;
    --sec-font: 'Raleway', sans-serif;
    --first-clr: #383838;
    --second-clr: #5d4c38;
    --accent-clr: #28555c;
}

.profileIcon {
    display: flex;
    align-items: right;
    justify-content: right;
}

nav {
    background-color: black;
    margin: 0;
    padding: 0;
}

#welcomeMessage {
    text-align: center;
    font-size: 12vw;
    font-family: var(--prim-font);
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: gray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #393939;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
    font-family: var(--sec-font);
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #989898;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}